/* font added */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&family=Merriweather:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;900&display=swap');

/* shared style */
* {

    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    padding: 20px 25px;
    cursor: pointer;
}

.section-title {
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
}

.section-des {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.section-container {
    width: 80%;
    margin: 0 auto;
}

.section-container>p {
    max-width: 542px;
}

/* header section */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 30px 240px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    list-style: none;
    margin-right: 2rem;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner style */
.banner {
    text-align: center;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
}

.banner-des {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* feature styles */
.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 90px;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.feature-column {
    max-width: 540px;
    padding-left: 4.8rem;
    padding-right: 4.8rem;
}

.feature-title {
    font-size: 2.8rem;
    color: #727272;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-weight: 700;
}

/* experience style */
.experience-container {
    width: 80%;
    margin: 7rem auto;
    display: flex;
    gap: 7rem;
}

.experience-section-title {
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.experience-container .section-des{
    margin-bottom: 30px;
}
.card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-top: 20px;
}
.experience-image img{
    margin-left: 90px;
}
.ten-year-badge{
    background-color: #FF900E;
    border-radius: 8px;
    width: 342px;
    margin: 0;
    text-align: center;
    padding: 2.3rem;
    position: relative;
    bottom: 100px;
}
.ten-year-badge h3{
    font-size: 4rem;
    color: #FFF;
}
.ten-year-badge p{
    font-size: 1.5rem;
    color: #FFF;
}
/* fact style */
.facts-icon {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.facts-column {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.fact-title {
    font-size: 2.8rem;
    color: #424242;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
}

.facts-section-des {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.fact-des {
    margin-top: 0;
    font-weight: 600;
    color: #727272;
    font-size: 1.25rem;
}

/* sponsor style */
.sponsor {
    width: 80%;
    margin: 0 auto;
}

.sponsor > .section-title {
    text-align: center;
}

.sponsor>.section-des {
    text-align: center;
}

.sponsor-icon {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
/* footer style */
.footer{
    width: 80%;
    margin: 120px auto;
    background-color: #FFF4E7;
}
.footer-title{
    padding: 30px;
    text-align: center;
}

/* responsive styles */

/* small device */
@media screen and (max-width: 576px) {
    .banner img {
        width: 100%;
    }

    .nav-container,
    .facts-icon,
    .feature,
    .sponsor-icon,
    .experience-container {
        flex-direction: column;
    }

    header,
    .facts-icon {
        padding: 20px;
    }

    .feature-grid {
        grid-template-columns: 1fr;
    }

    .feature-grid>img {
        width: 100%;
    }
    .experience-image img{
        margin: 0;
        width: 100%;
    }
    .ten-year-badge{
        width: 180px;
        height: 100px;
        padding: 1.2rem;
    }
    .ten-year-badge h3{
        font-size: 2rem;
        margin-bottom: 5px;
        margin-top: 15px;
    }
    .ten-year-badge p{
        font-size: 1.2rem;
        margin-top: 0;
    }

    .facts-icon,
    .sponsor-icon {
        gap: 20px;
    }

    .sponsor-icon {
        text-align: center;
    }
    .footer-title{
        padding: 10px;
    }
    

}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 999px) {
    .banner img {
        width: 100%;
    }

    .nav-container, .experience-container {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }

    .feature {
        flex-direction: column;
    }

    .feature-grid>img {
        width: 100%;
    }
    .experience-image img{
        margin: auto;
    }

    .facts-icon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .sponsor-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        text-align: center;
    }
    .footer-title{
        padding: 30px;
    }
    
}