/* font added */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&family=Merriweather:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;900&display=swap');

/* shared style */
* {
    
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    padding: 20px 25px;
    cursor: pointer;
}
/* header section */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 30px 240px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    list-style: none;
    margin-right: 2rem;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
}
/* banner style */
.banner{
    text-align: center;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
}
.banner-des{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.banner img{
    margin-top: 20px;
    width: 100%;
}
/* feature styles */
.feature{
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 90px;
}
.feature-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
.feature-column{
    max-width: 540px;
}
.feature-title{
    font-size: 2.8rem;
    color: #727272;
    font-weight: 500;
}
.feature-des{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
.of-our{
    color: #131313;
    font-weight: 700;
}
/* responsive styles */
/* small device */
@media screen and (max-width: 576px) {
    .banner img{
        width: 100%;
    }
    .nav-container{
        flex-direction: column;
    }
    header{
        padding: 20px;
    }
    .feature-grid{
        grid-template-columns: 1fr;
    }
    .feature{
        flex-direction: column;
    }
    
}
/* medium device */
@media screen and (min-width: 576px) and (max-width: 991px) {
    .banner img{
        width: 100%;
    }
    .nav-container{
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
    .feature{
        flex-direction: column;
    }
}